.footer {
    display: flex;
    align-items: center;
    margin: -0.5rem -3.5rem;
    position: relative;
    margin-top: -7rem;
}

.f-content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
    color: #fff;
    width: 100vw;
    font-size: 1.1rem;
    gap: 4rem;
}

.f-content a {
    color: #fff;
    text-decoration: none;
    text-decoration-style: none; 
}

.f-icons {
    display: flex;
    gap: 2rem;
}

@media screen and (max-width: 480px) {

    .footer {
        left: 2.4rem;
        bottom: 0px;
    }
    .f-content {
        margin-top: 0;
        width: auto;
        gap: 2rem;
    }

    .f-icons {
        gap: 1rem;
    }

    .f-icons a {
        transform: scale(0.7);
    }
}


@media screen and (max-width: 375px) {
   
    .f-content a span:nth-child(1) {
        color: gray;
    }
}